{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
 <div class="col-sm-10 mt-3">
    <h3 class="p text-white ">About page</h3>
    <div class="">
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, voluptatibus dignissimos. Dolore vero quis dicta dolorem incidunt asperiores laboriosam, praesentium porro alias eius laudantium earum omnis eos aut suscipit sequi debitis excepturi optio totam unde nemo quae minus accusamus. Maiores earum, perspiciatis laborum deleniti similique facilis nihil asperiores doloribus vero.</p>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod exercitationem eius odio deleniti aliquam facere deserunt? Quas rerum inventore, reprehenderit nulla saepe, beatae quibusdam dolor excepturi vitae omnis neque officia vero. Tempore nisi incidunt voluptate assumenda inventore, rem alias quaerat aspernatur. Expedita, repellat. Nesciunt rem esse perferendis delectus nostrum consectetur iste cumque, a ratione, eos molestiae! Saepe, quidem. Mollitia, aliquid.</p>
    </div>
 </div>

{% endblock content %}